@{
    ViewData["Title"] = "Benvenuto";
}

<div class="container mt-4">
    <div class="jumbotron">
        <img src="~/img/logo-Polizia-di-Stato-uai-516x638.png" alt="Polizia Logo" class="img-fluid mx-auto d-block" style="max-width: 200px; height: auto;" />
        <h1 class="display-4 text-center fw-bold mb-2">Benvenuti sul sito della Polizia Locale</h1>
        <p class="lead">Siamo qui per garantire la sicurezza e il rispetto delle leggi nel nostro territorio. Utilizzate la barra di navigazione per accedere alle diverse sezioni del sito.</p>
        <hr class="my-4">
    </div>
</div>