<h1>Riepilogo dei Rapporti</h1>
<ul>
    <li><a asp-controller="Rapporti" asp-action="TotaleVerbaliPerTrasgressore">Totale Verbali per Trasgressore</a></li>
    <li><a asp-controller="Rapporti" asp-action="TotalePuntiDecurtatiPerTrasgressore">Totale Punti Decurtati per Trasgressore</a></li>
    <li><a asp-controller="Rapporti" asp-action="ViolazioniSuperioriA10Punti">Violazioni con Decurtamento Punti > 10</a></li>
    <li><a asp-controller="Rapporti" asp-action="ViolazioniCostose">Violazioni con Importo > 400 Euro</a></li>
    <li><a asp-controller="Rapporti" asp-action="ViolazioniContestabili">Violazioni Contestabili</a></li>
</ul>
