@model BE_ProgettoSettimana4.ViewModels.RapportoViewModel

<h1 class="my-3">@Model.Titolo</h1>
<table class="table">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Totale Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Report)
        {
            <tr>
                <td>@item.Trasgressore.Cognome</td>
                <td>@item.Trasgressore.Nome</td>
                <td>@item.TotalePunti</td>
            </tr>
        }
    </tbody>
</table>
