@model BE_ProgettoSettimana4.Models.TipoViolazione

<h1 class="my-3">Crea Violazione</h1>
<form asp-action="Create">
    <div class="form-group mb-2">
        <label asp-for="Descrizione"></label>
        <input asp-for="Descrizione" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Salva</button>
</form>
