@model BE_ProgettoSettimana4.ViewModels.TipoViolazioniViewModel

<h1 class="my-3">Violazioni</h1>
<a class="btn btn-primary" asp-controller="TipoViolazioni" asp-action="Create">Aggiungi Violazione</a>
<table class="table">
    <thead>
        <tr>
            <th>Descrizione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazione in Model.Violazioni)
        {
            <tr>
                <td>@violazione.Descrizione</td>
            </tr>
        }
    </tbody>
</table>
